/* Custom CSS for IAIPI Website */

/* Publication - Make journal cover images same height */
.singel-publication .image {
    height: 350px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.singel-publication .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Publication name styling */
.singel-publication .cont .name {
    width: 100%;
}

.singel-publication .cont .name a h6 {
    min-height: 40px;
    display: flex;
    align-items: center;
}

/* Responsive adjustments */
@media only screen and (max-width: 767px) {
    .singel-publication .image {
        height: 300px;
    }
}

@media only screen and (max-width: 575px) {
    .singel-publication .image {
        height: 400px;
    }
}
