:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* AKREDITASI */

.akreditasi-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.akreditasi-list li {
  margin-bottom: 1rem;
}

.akreditasi-list a {
  color: #07294d;
  text-decoration: none;
  transition: all 0.3s ease;
}

.akreditasi-list a:hover {
  color: #ffc600;
}

.certificate-card {
  background: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 30px rgba(0,0,0,0.15);
}

.certificate-caption p {
  color: #07294d;
  font-weight: 500;
}


